/*Page title*/
h1{
    color: #A62154;
    font-family:Licorice;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

/*body text*/
p{
    color:#4E4E56;
    font-family:Quicksand;
    font-size: 16px;
}

/*Subtopic headers*/
h3, h2{
    color:#A62154;
    font-family:Quicksand;
    font-size:25px;
    font-weight:bolder;
    text-align:center;
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5cc1BE;
  }

li a {
    display: block;
    color: #4E4E56;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Quicksand;
    font-weight:bold;
  }

li a:hover{
    background-color:#C78671;
    color:#FFFFFF;
}

 /*Footer, color band at bottom of page*/
 footer{
    background-color: #A46592;
    height:50px;
    width:100%;
  }
  .page-footer{
    color:#FFFFFF;
    margin: 10px 10px 0 0;
    display:block;
    text-align:center;
    padding:10px;
  }

  /*header image formatting*/

  .header-img{
    height:175px;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
  }

   /*video formatting*/
.video{
    width:500px;
    height:100%;
    margin:auto;
    float:center;
    padding-top:20px;
}


   /*product trio formatting*/

   /*imaages*/
.img1, .img2, .img3{
    height:300px;
    width:300px;
    object-fit:cover;
    border-radius: 10px;
}

/*figures*/
.project-tile1, .project-tile2, .project-tile3{
    width:300px;
    text-align:center;
    background-color:#e3b7a8;
    padding:0 20px 0 20px;
    border-radius: 10px;
}

/*alignment*/
.projects{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 60px;
}


.mailing-list{
  color:#5cc1BE;
  background-color:#FFFFFF;
}

form{
  background-color:#C78671;
  padding-bottom:10px;
  width:300px;
  margin: 0 auto;
  text-align:center;
  border-radius:10px;
}

fieldset {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-inline-start:0px;
  
}
  /*labels for input fields*/
  label {
    display: block;
    margin: 0.25rem auto;
    cursor: pointer;
    padding-top:5px;
    font-family:Quicksand;
  }
  
  /*Form entry fields*/
  input{
    min-height: 1.75em;
    cursor: text;
    padding: 5px 5px 5px 5px;
    color:#4E4E56;
    font-family:Quicksand;
    font-size: 16px;
    display:inline-block;
  }

  /*submit button*/
 button{
    display: block;
    width: 20%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #5cc1BE;
    font-family:Quicksand;
    min-width: 100px;
    cursor:pointer;
    border-radius: 10px;
    border:white;
    box-shadow: 2px 2px 2px rgb(180, 179, 179);
  }


   /*profile link text*/
.profile-link{
  text-align:center;
}