/*Page title*/
h1{
    color: #A62154;
    font-family:Licorice;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

/*body text*/
p{
    color:#4E4E56;
    font-family:Quicksand;
    font-size: 16px;
}

/*Subtopic headers*/
h2{
    color:#A62154;
    font-family:Quicksand;
    font-size:25px;
    font-weight:bolder;
    text-align:center;
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5cc1BE;
  }

li a {
    display: block;
    color: #4E4E56;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Quicksand;
    font-weight:bold;
  }

li a:hover{
    background-color:#C78671;
    color:#FFFFFF;
}

 /*Footer, color band at bottom of page*/
 footer{
    background-color: #A46592;
    height:50px;
    width:100%;
  }
  .page-footer{
    color:#FFFFFF;
    margin: 10px 10px 0 0;
    display:block;
    text-align:center;
    padding:10px;
  }

  /*header image formatting*/

  .header-img{
    height:175px;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
  }

   /*video formatting*/
.video{
    width:500px;
    height:auto;
    margin:auto;
    float:center;
    padding-top:20px;
}


   /*product trio formatting*/

   /*imaages*/
.img1, .img2, .img3{
    height:300px;
    width:300px;
    object-fit:cover;
    border-radius: 10px;
}

/*figures*/
.product1, .product2, .product3{
    width:300px;
    text-align:center;
    background-color:#e3b7a8;
    padding:0 20px 0 20px;
    border-radius: 10px;
}

/*alignment*/
.products{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 60px;
}