/*Page title*/
h1{
    color: #A62154;
    font-family:Licorice;
    font-size: 80px;
    text-align: center;
}

/*body text*/
p{
    color:#4E4E56;
    font-family:Quicksand;
    font-size: 16px;
}

/*adjusting margin of bottom of bio text to move next title down*/
.bio{
    margin: 0 0 20px 0;
}

/*Subtopic headers*/
h2{
    color:#A62154;
    font-family:Quicksand;
    font-size:25px;
    font-weight:bolder;
    text-align:center;
}

/*Bottom topic headers*/
h3{
    color:#FFFFFF;
    font-family:Quicksand;
    font-size:20px;
    text-align:center;
}

/*image captions*/
figcaption{
    font-family:Quicksand;
    font-size:12px;
    text-align:center;
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5cc1BE;
  }

li a {
    display: block;
    color: #4E4E56;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Quicksand;
    font-weight:bold;
  }

li a:hover{
    background-color:#C78671;
    color:#FFFFFF;
}
 
/*profile image*/
.bio-pic{
    float:right;
}

#image{
    max-height:275px;
    width:100%;
    border-radius: 10px;
}

.img-div{
    margin:0;
}

/* top section bio and pic*/

.tribute-info{ 
    max-width:900px;
    margin:auto;
    text-indent: 2rem;
    padding:25px;
}

/*bottom paragraph*/
.subtopic-title{
    margin: 15px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

}
/* work togther paragraph text */
.paragraph2{
    text-indent: 2rem;
}
/*Work together section*/
.bottom{
    max-width:900px;
    margin:auto;
    padding:25px;
}

/*image trio*/
.gallery{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    max-width:1400px;
}

.gallery img {
    width: 200px;
    height:175px;
    object-fit:cover;
    border-radius: 10px;
  }
  
  /*learn more box at bottom*/
  .box{
    background-color: #5cc1BE;
    max-width:500px;
    margin:40px auto 40px auto;
    padding:25px;
    text-align:center;
    padding:5px 5px 5px 5px;
    border-radius:10px;
  }

 /*Footer, color band at bottom of page*/
  footer{
    background-color: #A46592;
    height:50px;
    width:100%;
  }
  .page-footer{
    color:#FFFFFF;
    margin: 10px 10px 0 0;
    display:block;
    text-align:center;
  }